<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('/dist/css/vendor.css') }}" />
    <link rel="stylesheet" href="{{ asset('/dist/css/style.css') }}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/dracula.min.css" />
    <script src="https://kit.fontawesome.com/134a4a1c71.js" crossorigin="anonymous"></script>

    <title>{% block title %}Aeon PHP - Date Time Framework, Library{% endblock %}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170080616-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ google_analytics_tracking_code }}');
    </script>
</head>
<body data-spy="scroll" data-target="#toc">


<section class="py-0">
    <div class="container-fluid">
        <div class="row justify-content-between">

            <!-- navigation -->
            <aside class="col-lg-3 p-3 doc-sidebar">
                <div class="sticky">
                    {{ render(controller(
                        'App\\Controller\\DocumentationController::navigation', {'activeSection' : activeSection}
                    )) }}
                </div>
            </aside>
            <!-- / navigation -->

            <!-- content -->
            <article class="col-lg-9 doc-content">
                <div class="row">
                    <div class="col">
                        <div class="doc-content-header">
                            <div class="row align-items-center">
                                <div class="col-6 col-lg-10">
                                    <nav aria-label="breadcrumb d-none d-inline-flex-lg">
                                        {% if activeSection == "calendar" %}
                                            <a href="{{ path('docs_calendar') }}" class="breadcrumb-back" title="Back"></a>
                                        {% else %}
                                            <a href="{{ path('landing') }}" class="breadcrumb-back" title="Back"></a>
                                        {% endif %}
                                        <ol class="breadcrumb d-none d-lg-inline-flex">
                                            <li class="breadcrumb-item"><a href="{{ path('landing') }}">Home</a></li>
                                            <li class="breadcrumb-item active"><a href="{{ path('documentation') }}">Documentation</a></li>
                                        </ol>
                                    </nav>
                                </div>
                                <div class="col text-right">
                                    <a href="https://packagist.org/packages/aeon-php/calendar" class="btn btn-sm btn-rounded btn-primary">Install</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% block body %}{% endblock body %}
            </article>
        </div>
    </div>
</section>

<!-- footer -->
{{ include('_footer.html.twig') }}
<!-- / footer -->

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script charset="UTF-8"
        src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/languages/php.min.js"></script>
<script src="{{ asset('/dist/js/app.js') }}"></script>
</body>
</html>