<nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
    <a href="{{ path('landing') }}" class="navbar-brand"><img src="{{ asset('/dist/images/logo.png') }}" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="page-nav" class="nav nav-vertical-2 flex-column">
            <li class="nav-item{% if activeSection == "introduction" %} active{% endif %}">
                <a class="nav-link" data-toggle="collapse" href="#getting-started" role="button" aria-expanded="{% if activeSection == "introduction" %}true{% else %}false{% endif %}" aria-controls="menu-1">Getting Started</a>
                <div class="collapse{% if activeSection == "introduction" %} show{% endif %}" id="getting-started" data-parent="#page-nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('documentation') }}">Introduction</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "cli" %} active{% endif %}" data-toggle="collapse" href="#cli" role="button" aria-expanded="{% if activeSection == "cli" %}true{% else %}false{% endif %}" aria-controls="menu-2">CLI Application</a>
                <div class="collapse{% if activeSection == "cli" %} show{% endif %}" id="cli" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_cli') }}">index</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "calendar" %} active{% endif %}" data-toggle="collapse" href="#calendar" role="button" aria-expanded="{% if activeSection == "calendar" %}true{% else %}false{% endif %}" aria-controls="menu-2">Calendar Library</a>
                <div class="collapse{% if activeSection == "calendar" %} show{% endif %}" id="calendar" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_calendar') }}">index</a>
                            </li>
                            {% for version, src in calendarVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_calendar_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "calendar-twig" %} active{% endif %}" data-toggle="collapse" href="#calendar-twig" role="button" aria-expanded="{% if activeSection == "calendar-twig" %}true{% else %}false{% endif %}" aria-controls="menu-2">Calendar Twig Library</a>
                <div class="collapse{% if activeSection == "calendar-twig" %} show{% endif %}" id="calendar-twig" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_calendar_twig') }}">index</a>
                            </li>
                            {% for version, src in calendarTwigVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_calendar_twig_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "calendar-doctrine" %} active{% endif %}" data-toggle="collapse" href="#calendar-doctrine" role="button" aria-expanded="{% if activeSection == "calendar-doctrine" %}true{% else %}false{% endif %}" aria-controls="menu-2">Calendar Doctrine Library</a>
                <div class="collapse{% if activeSection == "calendar-doctrine" %} show{% endif %}" id="calendar-doctrine" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_calendar_doctrine') }}">index</a>
                            </li>
                            {% for version, src in calendarDoctrineVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_calendar_doctrine_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "retry" %} active{% endif %}" data-toggle="collapse" href="#retry" role="button" aria-expanded="{% if activeSection == "retry" %}true{% else %}false{% endif %}" aria-controls="menu-2">Retry Library</a>
                <div class="collapse{% if activeSection == "retry" %} show{% endif %}" id="retry" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_retry') }}">Index</a>
                            </li>
                            {% for version, src in retryVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_retry_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "rate-limiter" %} active{% endif %}" data-toggle="collapse" href="#rate-limiter" role="button" aria-expanded="{% if activeSection == "rate-limiter" %}true{% else %}false{% endif %}" aria-controls="menu-2">Rate Limiter Library</a>
                <div class="collapse{% if activeSection == "rate-limiter" %} show{% endif %}" id="rate-limiter" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_rate_limiter') }}">Index</a>
                            </li>
                            {% for version, src in rateLimiterVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_rate_limiter_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "sleep" %} active{% endif %}" data-toggle="collapse" href="#sleep" role="button" aria-expanded="{% if activeSection == "process" %}true{% else %}false{% endif %}" aria-controls="menu-2">Sleep Library</a>
                <div class="collapse{% if activeSection == "sleep" %} show{% endif %}" id="sleep" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_sleep') }}">Index</a>
                            </li>
                            {% for version, src in sleepVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_sleep_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "calendar-holidays" %} active{% endif %}" data-toggle="collapse" href="#calendar-holidays" role="button" aria-expanded="{% if activeSection == "calendar-holidays" %}true{% else %}false{% endif %}" aria-controls="menu-2">Calendar Holidays Library</a>
                <div class="collapse{% if activeSection == "calendar-holidays" %} show{% endif %}" id="calendar-holidays" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_calendar_holidays') }}">index</a>
                            </li>
                            {% for version, src in calendarHolidaysVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_calendar_holidays_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "calendar-holidays-yasumi" %} active{% endif %}" data-toggle="collapse" href="#calendar-holidays-yasumi" role="button" aria-expanded="{% if activeSection == "calendar-holidays-yasumi" %}true{% else %}false{% endif %}" aria-controls="menu-2">Calendar Holidays Yasumi Library</a>
                <div class="collapse{% if activeSection == "calendar-holidays-yasumi" %} show{% endif %}" id="calendar-holidays-yasumi" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_calendar_holidays_yasumi') }}">index</a>
                            </li>
                            {% for version, src in calendarHolidaysYasumiVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_calendar_holidays_yasumi_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "business-hours" %} active{% endif %}" data-toggle="collapse" href="#business-hours" role="button" aria-expanded="{% if activeSection == "calendar-holidays" %}true{% else %}false{% endif %}" aria-controls="menu-2">Business Hours Library</a>
                <div class="collapse{% if activeSection == "business-hours" %} show{% endif %}" id="business-hours" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_business_hours') }}">index</a>
                            </li>
                            {% for version, src in businessHoursVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_business_hours_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "symfony-bundle" %} active{% endif %}" data-toggle="collapse" href="#symfony-bundle" role="button" aria-expanded="{% if activeSection == "symfony-bundle" %}true{% else %}false{% endif %}" aria-controls="menu-2">Symfony Bundle</a>
                <div class="collapse{% if activeSection == "symfony-bundle" %} show{% endif %}" id="symfony-bundle" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_symfony_bundle') }}">index</a>
                            </li>
                            {% for version, src in symfonyBundleVersions %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_symfony_bundle_version', {version: version}) }}">version {{ version }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>