<nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
    <a href="{{ path('landing') }}" class="navbar-brand"><img src="{{ asset('/dist/images/logo.png') }}" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="page-nav" class="nav nav-vertical-2 flex-column">
            <li class="nav-item{% if activeSection == "introduction" %} active{% endif %}">
                <a class="nav-link" data-toggle="collapse" href="#getting-started" role="button" aria-expanded="{% if activeSection == "introduction" %}true{% else %}false{% endif %}" aria-controls="menu-1">Getting Started</a>
                <div class="collapse{% if activeSection == "introduction" %} show{% endif %}" id="getting-started" data-parent="#page-nav">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('documentation') }}">Introduction</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if activeSection == "calendar" %} active{% endif %}" data-toggle="collapse" href="#calendar" role="button" aria-expanded="{% if activeSection == "calendar" %}true{% else %}false{% endif %}" aria-controls="menu-2">Calendar</a>
                <div class="collapse{% if activeSection == "calendar" %} show{% endif %}" id="calendar" data-parent="#page-nav">
                    <div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('docs_calendar') }}">Index</a>
                            </li>
                            {% for class in calendarClasses %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('docs_calendar_class', {'classSlug' : class.slug}) }}">{{ class.shortName }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>