{% extends 'docs.html.twig' %}

{% block title %}{{ class.name }}::{{ method.name }} method documentation{% endblock %}

{% block body %}
    <div class="row doc-content-body">
        <article class="col-md-9">

            <h3>The <code><a href="{{ class.name|class_url(version) }}">{{ class.shortName }}</a>::{{ method.name }}</code> method</h3>
            <small>version: {{ version }}</small>
            <section id="introduction">
                <h5 class="section-title-2">Introduction</h5>
                <hr/>
                {% if method.docComment %}
                    {% if method.docComment.getSummary %}
                        <p>{{ method.docComment.getSummary|raw|striptags(html_strip_tags) }}</p>
                    {% endif %}
                    {% if method.docComment.getDescription %}
                        <p>{{ method.docComment.getDescription|raw|striptags(html_strip_tags) }}</p>
                    {% endif %}
                {% endif %}
            </section>

            <section id="synopis">
                <h5 class="section-title-2">Description</h5>
                <hr/>
                <div class="code-synopis" style="background:#fff;padding: 2rem; font-family:'Fira Mono', 'Source Code Pro', monospace;">
                    {% include 'documentation/class/_method.html.twig' with {'method': method, 'version': version} only %}
                </div>
            </section>

            <section id="synopis">
                <h5 class="section-title-2">Parameters</h5>
                <hr/>
                {% if method.parameters|length %}
                    <ul>
                        {% for parameter in method.parameters %}
                        <li>{% include 'documentation/class/_parameter.html.twig' with {'parameter': parameter, 'version': version} %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>

            <section id="synopis">
                <h5 class="section-title-2">Return Values</h5>
                <hr/>
                {% if method.reflectionMethod.returnType %}
                    {% if method.reflectionMethod.returnType.builtin %}
                        {{ method.reflectionMethod.returnType.name }}
                    {% else %}
                        {% if method.returnTypeClass.internal %}
                            {{ method.returnTypeClass.shortName }}
                        {% else %}
                            <a style="color: #369;" href="{{ method.returnTypeClass.name | class_url(version) }}">
                                <strong>{{ method.returnTypeClass.shortName }}</strong>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </section>
        </article>
        <aside class="col-md-3">
            <div class="sticky">
                <h5>{{ library }} - {{ version }}</h5>
                <ul>
                    {% for phpClass in classes %}
                        <li><a href="{{ phpClass.name | class_url(version) }}">{{ phpClass.shortName }}</a></li>
                    {% endfor %}
                </ul>
                <section class="text-center mt-2">
                    <a href="https://github.com/aeon-php/website/blob/1.x/templates/{{ _self }}" class="btn btn-secondary p-1" target="_blank"><i class="fab fa-github"></i> Edit this page</a>
                </section>
            </div>
        </aside>
    </div>
{% endblock %}
